{{!-- <nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/aboutUs">About Us</a></li>
    <li><a href="/donation">Donation</a></li>
    <li><a href="/adopt">Adopt</a></li>
    {{#if logged_in}}
      <li><a href="/profile">Profile</a></li>
      <li><button id="logout">Logout</button></li>
      <script src="/js/logout.js"></script>
    {{else}}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    {{/if}}
  </ul>
</nav> --}}
<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl md:text-6xl p-6">
    <span class="block">
        Welcome to
        <span class="text-transparent bg-clip-text bg-gradient-to-tr to-black-500 from-purple-600">
            Paws to Doors!
          <h3>Who let the dogs out? You! You! You!</h3>
        </span>
    </span>
</h1>