{{!-- views/partials/header.handlebars --}}
<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signin">Sign In</a></li>
      <li><a href="/aboutUs">About Us</a></li>
      <li><a href="/donation">Donation</a></li>
    </ul>
  </nav>
</header>