{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Breeds</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> header}}
  <div class="container">
    <h1>Cat Breeds</h1>
    <div class="breed-list" data-type="cat"></div>
  </div>
  <script src="/js/fetchPetInfo.js"></script>
</body>
</html> --}}
