{{> header}}
<h1>Donation</h1>
<form class="donation-form">
  <div>
    <label for="donation-amount">Donation Amount</label>
    <input type="number" id="donation-amount" required>
  </div>
  <div>
    <label for="donation-name">Name</label>
    <input type="text" id="donation-name" required>
  </div>
  <div>
    <label for="donation-email">Email</label>
    <input type="email" id="donation-email" required>
  </div>
  <button type="submit">Donate</button>
</form>