<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>

        <form action="POST" class="form login-form">
            <div class="form-group">
               <label for="email-login">email:</label>
               <input type="text" class="form-input" id="email-login" />

            </div>
        </form>
    </div>
</div>