{{!-- views/signin.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{> header}}
  <h1>Sign In</h1>
  <form class="signin-form">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Sign In</button>
  </form>
  <script src="/js/signin.js"></script>
</body>
</html>
