<body>
  {{> header}}
  <div class="container" id="sign-up-container">
    <h1>Sign Up</h1>
    <form class="signup-form">
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" name="username" required>
      <label for="email-signup">Email:</label>
      <input type="email" id="email-signup" name="email" required>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" name="password" required>
      <button class="block w-full rounded-md bg-purple-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600"
       type="submit">Sign Up</button>
    </form>
  </div>
  <script src="/js/signup.js"></script>
</body>
</html>



